export CONDAPATH=<conda path>
export PHZ_ROOT=<photoz-parsl repository path>
export LEPHAREDIR=<LePhare dir>
export PYTHONPATH=$PYTHONPATH:$PHZ_ROOT
export PZ_LOG_LEVEL=info

source $CONDAPATH/activate
conda activate parsl-env
python -m ipykernel install --user --name=pzcomp
